body{
margin:0;
height: 100vh;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}


.game-container{
  display: flex;
  flex-direction: column;
  height:100%;
  width:100%;
  justify-content: center;
  align-items: center;


  background-image: linear-gradient( 110.1deg,  rgba(34,126,34,1) 2.9%, rgba(168,251,60,1) 90.3% );
}

.game {
  height: 80%;
  width:30%;

  background-image: linear-gradient( 122.3deg,  rgba(111,71,133,1) 14.6%, rgba(232,129,166,1) 29.6%, rgba(237,237,183,1) 42.1%, rgba(244,166,215,1) 56.7%, rgba(154,219,232,1) 68.7%, rgba(238,226,159,1) 84.8% );
  border-radius:10px;
  box-shadow: 2px 2px 5px gray;

}

.target-row{
height:25%;
display:flex;
flex-direction:row;
justify-content: space-between;
align-items: center;
font-weight: bold;
}

#target {
width:80px;
height:80px;
border-radius:10px;
background-color: yellow;
margin:20px;
font-size: 40px;
}

#currentSum {
  width:60px;
  height:60px;
  border-radius:10px;
  background-color:#303030;
  color:white;
  margin:20px;
  font-size: 25px;
  }

  #score{
    font-weight: bolder;
    font-size: 25px;
    height:5%;
  }
#timer{
  height: 10%;
}

  #board {
flex-wrap:wrap;
height:60%;
background-color: black;
border-radius: 10px;
  }

  .row {
    display:flex;
  }
.cell {
height:40px;
width:45px;
border:1px solid black;
margin:2px;
border-radius: 5px;
background-color: #303030;
font-size:20px;
color:white;
font-weight: bold;
cursor: pointer;
}

.selected {
  background-color: cyan;
}